# TypeSafe API Key
TYPESAFE_API_KEY=apikey_xxx

# Claude Code / Anthropic API Endpoint
ANTHROPIC_BASE_URL=https://aster.empeirion.cn:44444
ANTHROPIC_AUTH_TOKEN=agk_xxx
ANTHROPIC_DEFAULT_OPUS_MODEL=claude-opus-5

